.header-primary {
  background-color: $basePrimary;

  .header-inner {
    max-width: $containerMaxWidth;
    min-height: 50px;
    padding: 0 $minPadding;
    margin: 0 auto;
  }

  .logo-wrapper {
    display: block;
  }

  .site-logo {
    display: block;
    width: 96px;
  }
}
