.select {
  position: relative;
  display: inline-block;
  color: $black;

  &::after {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin-top: -0.15rem;
    pointer-events: none;
    border-top: 0.35rem solid;
    border-right: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
    border-left: 0.35rem solid transparent;
  }

  select {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.5rem 2.25rem 0.5rem 1rem;
    line-height: 1.5;
    color: $black;
    background-color: $neutral20;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    outline: 0;
    appearance: none;
  }
}
